body {
    background-image: url("images/blue-christmas-snow-fall-animation.gif");
		color: white;
		width: 1000px;
		margin-left: 25px;
}

#mainTitle {
	text-align: center;
}

#mainP {
	font-size: 1.5em;
}

.story {
	margin-left: 25px;
}

div {
	position: relative;
	display: inline-block;
	height: 275px;
	width: 450px;
	border: 2px solid black;
	margin-left: 5px;
	margin-top: 5px;
	text-align: center;
}

p {
	width: inherit;
	margin-left: 50px;
	padding-left: 10px;
	padding-right: 70px;
	padding-top: 5px;
	padding-bottom: 5px;
}
